body{
    margin: 0px;
    background: rgba(255, 192, 203, 0.096);
}
::-webkit-scrollbar-track {
    background-color: #fad4d7;
}
::-webkit-scrollbar {
    width: 8px;
    background: #ce7885;
}
::-webkit-scrollbar-thumb {
    background: #a3606a;
}
::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

:-ms-input-placeholder {  
    color: rgba(0, 0, 0, 0.5);  
}
header {
    background: lightcoral;
    height: 150px;

    position: fixed;
    width: 100%;
    z-index: 2;
}
    header h1 {
        color: white;
        text-align: center;
        margin-top: 50px;
    }
    .sanduiche {
        background: transparent;
        border: 2px solid white;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0px;
        width: 25px;
        height: 25px;
        outline: none;
        cursor: pointer;
        margin-right: auto;
        margin-top: 10px;
        margin-left: 10px;

        z-index: 4;
        transition: 1s;
    }

    .sanduiche-open {
        background: transparent;
        border: 2px solid white;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0px;
        width: 25px;
        height: 25px;
        outline: none;
        cursor: pointer;
        margin-right: auto;
        margin-top: 10px;
        margin-left: 10px;

        z-index: 4;
        transition: 1s;
    }
        .sanduiche-open span {
            border: 1px solid white;
            width: 65%;
            transform: rotate(0) translate(0);
            transform: translateX(0);
            opacity: 1;
            transition: 1s;
        }
        .sanduiche span {
            border: 1px solid white;
            width: 65%;
            transform: rotate(0) translate(0);
            transform: translateX(0);
            opacity: 1;
            transition: 1s;
        }
        .sanduiche-open span:nth-child(1) {
            transform: rotate(45deg) translate(4px,4px);
        }
        .sanduiche-open span:nth-child(2) {
            transform: rotate(-45deg) translate(0px,-1px);
        }
        .sanduiche-open span:nth-child(3) {
            opacity: 0;
            transform: translateX(-100px);
        }
.pesquisa {
    background: lightpink;
    max-width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-2px);
}
    .barra {
        width: 90%;
        height: 25px;
        color: rgba(0, 0, 0, 0.548);
        background: transparent;
        border-bottom: 1px solid white;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        margin: 0px;
        padding: 0px;
        text-align: left;
        outline: none;
        cursor: pointer;
    
        transition-timing-function: inherit;
        transition-duration: 0.5s;
    }
    
    .barra:hover {
        width: 92%;
    }
    
    .lupa {
        opacity: 50%;
        cursor: pointer;
    }
#space {
    height: 125px;
    background: transparent;
}
.produtos {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .produtos .bloco {
        transition: 2s;
        opacity: 0;
    }
    .show {
        width: 365px;
        height: 100%;
        padding-bottom: 10px;
        background: transparent;
        margin-top: 75px;
        border-bottom: 1px dashed rgba(240, 128, 128, 0.39);

        transition: 1s;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .nomeProduto {
            margin: 0px;
            margin-top: 10px;
            text-align: center;
        }
        .imagemProduto {
            width: 200px;
            height: 200px;
            transition: 1s;
            justify-self: center;
        }
        .imagemProduto:hover {
            width: 230px;
            height: 230px;
            
        }
        .descricao {
            text-align: center;
            background: linear-gradient(rgba(240, 128, 128, 0.329), transparent);
            margin-top: 10px;
            padding-top: 5px;
            border-radius: 5px;
            padding: 10px;
            width: 80%;
        }
        .price {
            text-align: right;
            margin-right: 5px;
            width: 100%;
            font-weight: 700;
            color: rgb(138, 43, 43);
        }
        .buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
            .carrinho {
                background: lightcoral;
                border: 2px outset lightcoral;
                color: white;
                border-radius: 2px;
                margin-left: 4px;
                outline: none;
                cursor: pointer;
                padding: 10px;
                font-weight: 700;
            }
            .comprar {
                background: lightcoral;
                border: 2px outset lightcoral;
                color: white;
                border-radius: 2px;
                margin-right: 4px;
                outline: none;
                cursor: pointer;
                padding: 10px;
                width: 150px;
                font-weight: 700;
            }
.options {
    background: lightcoral;
    box-shadow: 2px 2px 7px pink;
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 0;
    transition: .5s;
}

.options-open {
    height: 100%;
    width: 70%;
    transition: 1s;
}

.list {
    display: none;
    margin: 0px;
    padding: 0px;
    opacity: 0;
    transition: 1s;
}
#list li {
    margin-top: 10px;
}
    .listVisivel {
        list-style: none;
        color: white;
        transition: 1s;
        margin: 0px;
        padding: 0px;
        opacity: 1;
        margin-left: 10px;

        display: flex;
        flex-direction: column;
    }
.link_instagram{
    text-decoration: none;
    color: white;
    transition-timing-function: linear;
    transition-duration: 0.1s;
    font-weight: 700;
}

.link_instagram:hover {
    color: rgb(138, 43, 43);
}

#imgInstagram {
    transform: translateX(-8px);
}
#imgWpp {
    transform: translateX(-5px);
}
#imgMail {
    transform: translateX(-5px);
}

.subtopicos {
    border-top: 1px solid lightcoral;
    border-bottom: 1px solid lightcoral;
    border-left: 0px;
    border-right: 0px;
    color: white;

    width: 100px;
    height: 50px;
    margin-top: 2px;
    margin-bottom: 2px;

    transition-timing-function: ease;
    transition-duration: 0.5s;
    background-color: lightcoral;

    cursor: pointer;
}

.subtopicos:focus {
    outline: thin dotted;
    outline: 0px;
}

.subtopicos_total {
    display: flex;
    justify-content: center;
}

.subtopicos:hover {
    border-color: white;
}